.list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding-left: 0;
}

.listItem{
    border: 1px solid yellow;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}